body {
	background: black;
	background-repeat: repeat-y;
	background: -webkit-linear-gradient(left, black, grey);
	background: -o-linear-gradient(right, black, grey);
	background: -moz-linear-gradient (right, black, grey);
	background: linear-gradient(to right, black, grey);
}

h1 {
	color: white;
	text-align: center;
	font-size: 300%;
	font-family: Arial;
}
p {
	color:white;
	text-align: center;
	font-family: Georgia;
}

a {
	text-decoration: none;
	color: red;
}

img {
	border-radius: 8px;
	display: block;
	margin: auto;
	
}